body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color: #fff;
  text-align: center;
}


.container {
  max-width: 600px;
  margin: auto;
  padding: 25px;
}

h1 {
  font-size: 2.5em;
}

.message {
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

.gallery img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin: 10px;

}
/* Mobile responsive design */
@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  h1 {
    font-size: 22px;
  }

  .container {
    padding: 15px;
  }

  .message {
    font-size: 14px;
    padding: 18px;
    margin: 15px;
  }

  #countdown {
    font-size: 14px;
  }

  button {
    width: 90%;
    font-size: 14px;
  }
}
